snippet otrs-error "Log an error"
$Kernel::OM->Get('Kernel::System::Log')->Log(
	Priority => 'error',
	Message  => '$1',
);
endsnippet

snippet otrs-om "Get object"
$Kernel::OM->Get('Kernel::System::$1')$2;
endsnippet
